
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


nav {
    background-color: #2E2E2E;
    color: #FFF;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #8CB03E;
}


.landing-header {
    background-color: #8CB03E; 
    text-align: center;
    padding: 60px 0;
}

.landing-header h1 {
    color: #2E2E2E; 
    font-size: px;
}


.content {
    max-width: 1000px; 
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

.content h2 {
    color: #2E2E2E; 
    font-size: 24px;
    margin-bottom: 20px;
}

.content p {
    color: #444;
    font-size: 18px;
    margin-top: 20px;
}

.photos {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.photos img {
    max-width: 40%; 
    height: auto;
    border: 3px solid #8CB03E; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 0 30px;
}

.photos img:hover {
    transform: scale(1.05); 
}

/* Add styles for the "fitness" class */
.fitness {
    display: flex;
    flex-direction: column; /* Stack images vertically */
    align-items: center;
    margin-top: 20px; /* Add some top margin for spacing */
}

.fitness img {
    max-width: 35%; /* Adjust the size of the images */
    height: auto;
    border: 3px solid #8CB03E; /* Add green borders */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 30px 0; /* Add some vertical margin between images */
}

.fitness img:hover {
    transform: scale(1.05); /* Hover effect to scale up the images */
}



/* Keep your existing CSS for .fitness class */

.image-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

.insects img {
    margin-top: 20px;
}
/* Keep your existing CSS for .fitness class */

.insects img {
    max-width: 50px; /* Adjust the size of the image (smaller) */
    height: auto;
    margin-left: 10px; /* Add some margin to separate it from the "Rings" image */
}

/* Style for left and right images */
.left-image, .right-image {
    max-width: 50px; /* Adjust the size of the images (smaller) */
    height: auto;
    margin-top: 10px; /* Add some top margin for spacing */
}

/* Positioning for left and right images */
.left-image {
    float: left; /* Float the left image to the left */
    margin-right: 10px; /* Add some margin to separate it from the "Rings" image */
}

.right-image {
    float: right; /* Float the right image to the right */
    margin-left: 10px; /* Add some margin to separate it from the "Rings" image */
}
